.container {
   
    position: absolute; top: 18%; width: 100%; align-content: center; color: blue;
}

li {display: inline; top: 10%; width: 100%; text-align: center; margin: 35px 35px; font-family: 'Courier New', Courier, monospace; font-size: 20px;
    color:blue;}

li:hover{
    color: coral;
}
li {position: relative; top: 50%; width: 100%; text-align: center;

}
h1 { color: rgb(29, 119, 141); font-family: 'Courier New', Courier, monospace;
     position: absolute; top: 50%; width: 100%; text-align: center;}
h1:hover {
    font-size: 35px;
    background: -webkit-linear-gradient(rgb(1, 46, 58), rgb(136, 196, 231));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: 3s;}

h2 {font-size: 15px; font-family: 'Courier New', Courier, monospace;
    position: absolute; top: 65%; width: 100%; text-align: center;
    }    

h2:hover {
    font-size: 20px;
}

.logo {
    position: absolute; top: 70%; width: 200%; text-align: center;
}