body {
    margin: 0;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto 0 auto;
    animation-name: fadein;
    animation-duration: 2s;
    animation-timing-function: linear;
}
ul {
    text-align: center;    
}
li {
    display: inline;
    margin-top: 25px;
    margin: 40px;
    color: #1d1c1c;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
li:hover {
    color: black;
}
#main {
    margin-left: 300px;
    opacity: 60%;
    position: relative;
    opacity: 0;
    animation-name: zoomin;
    animation-duration: 2s;
    animation-delay: 2,5s;
    animation-fill-mode: forwards;
}
#backcolor {
    width: 250px;
    height: 500px;
    margin-left: 50px;
    background-color: hsl(0, 0%, 75%);
    position: absolute; top: 90px;
    opacity: 0;
    animation-name: zoomin;
    animation-duration: 2s;
    animation-delay: 2,5s;
    animation-fill-mode: forwards;
}
#text {
    margin-left: 50px;
    position: absolute; top: 150px;
    writing-mode: vertical-rl;
    opacity: 0;
    animation-name: zoomin;
    animation-duration: 2s;
    animation-delay: 2,5s;
    animation-fill-mode: forwards;
}
#yougo {
    background-color: #5a5ada;
    border: none;
    padding: 15px 15px; 
    border-radius: 30px;
    position: absolute; top: 75%; left: 50%;  
    opacity: 0;
    animation-name: top;
    animation-duration: 1s;
    animation-delay: 1s;  
    animation-fill-mode: forwards; 
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(0);}
    100% {
        opacity: 1;
        transform: scale(1);}    
}

@keyframes top {
    0% {top: 65%;
        opacity: 0;}
    100% {top: 75%;
        opacity: 1;
}    
}



